<div class="container">

  <header class="header">
    <h1>🚀 Aplicacion para registro de clientes</h1>

  </header>

  <main class="main">
    <h2 style="text-align: center;" >Accesos rápidos</h2>
    <div class="cards" style="display: flex; justify-content: space-around;">
      <a routerLink="/Cliente" class="card">👥 Clientes</a>
      <a routerLink="/registrar-cliente" class="card">💼 Registrar clientes</a>
    </div>
  </main>

   <!-- Aquí se cargará dinámicamente el componente según la ruta -->
 <router-outlet></router-outlet>

  <footer class="footer">
    <p>Conceptualización de servicios en la nube</p>
    <p>Unidad 3. Desarrollo de aplicaciones web en los servicios de la nube</p>
    <p>3.3. Aplicación web con base de datos</p>
    <p>Rocio Belén Rubio Treviño</p>
    <p>WERNHER ALEJANDRO CAMPECHANO OLIVARES</p>

  </footer>

</div>


